@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
@font-face {
  font-family: Vazirmatn;
  src: url('fonts/Vazirmatn-Light.ttf');
}
body{
   font-family: Vazirmatn;
}